<div class="main-container">
  <div class="login-form-container">
    <h2>~ Login to Revolution ~</h2>
    <form [formGroup]="loginForm" class="login-form">
      <div class="form-group">
        <label for="email">~ Email ~</label>
        <br />
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="Enter your email"
        />
        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <div class="error">
            Email is required and must be valid!
          </div>
        }
      </div>

      <div class="form-group">
        <label for="password">~ Password ~</label>
        <br />
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter your password"
        />
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <div class="error">
            Password is required!
          </div>
        }
      </div>

      <div class="form-group">
        <button
          (click)="onSubmit()"
          [disabled]="loginForm.invalid"
          class="btn submit-btn"
        >
          Click to login
        </button>
        You don't have an account?
        <a routerLink="/register">Click to register!</a>
      </div>
    </form>
  </div>
</div>
